---
import PageLayout from "../../layout/PageLayout.astro";

const getUTCdate = (date: string) => {
  const [day, month, year] = date.split("-").map(Number);
  const inputDateUTC = new Date(Date.UTC(year, month - 1, day));
  return inputDateUTC;
};
const getISTdateString = (date: string) => {
  const inputDateUTC = getUTCdate(date);
  const istDateString = inputDateUTC.toLocaleDateString("en-US", {
    timeZone: "Asia/Kolkata",
    year: "numeric",
    month: "short",
    day: "2-digit",
  });
  return istDateString;
};
const astro_posts = await Astro.glob("./*md");
const unsorted_posts = astro_posts.filter((o) => o.frontmatter.published);
const posts = unsorted_posts.sort((a, b) => {
  const da = getUTCdate(a.frontmatter.date);
  const db = getUTCdate(b.frontmatter.date);
  return db.getTime() - da.getTime();
});
---

<PageLayout title="Blog">
  <div class="post-container">
    {
      posts.map((post) => {
        return (
          <div class="my-10 flex flex-col gap-2">
            <div class="flex flex-col items-start md:flex-row md:justify-between md:items-center">
              <h2 class="md:text-2xl text-xl font-extrabold text-zinc-300 font-primary">
                <a
                  href={post.url}
                  class="hover:text-accent transition-colors duration-200"
                >
                  {post.frontmatter.title}
                </a>
              </h2>
              <span class="text-sm text-zinc-500">
                {getISTdateString(post.frontmatter.date)}
              </span>
            </div>
            <p class="text-xs flex gap-2">
              {post.frontmatter.tags &&
                post.frontmatter.tags
                  .split(",")
                  .map((tag: string) => (
                    <span class="bg-zinc-700 px-1 rounded-sm">{tag}</span>
                  ))}
            </p>
          </div>
        );
      })
    }
  </div>
</PageLayout>
