@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600&family=Karla:wght@400;500;600;700;800&display=swap");
:root {
  --text: #0e0f06;
  --background: #fafbf4;
  --primary-button: #338084;
  --secondary-button: #f1f2de;
  --accent: #843380;

  --ff-body: "Inconsolata", sans-serif;
  --ff-heading: "Karla", serif;
}
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading font-black;
}
h3 {
  @apply text-lg;
}

img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}
