---
import PageLayout from "../layout/PageLayout.astro";
---

<PageLayout>
  <ol role="list">
    <li>Pyschology of Money</li>
    <li>Atomic Habits</li>
    <li>Stranger</li>
    <li>Ikigai</li>
    <li>Sapiens</li><li>Steve Jobs(currently reading)</li>
    <li>The Boy from the woods</li>
    <li>The Republic</li>
  </ol>
</PageLayout>
