---
import PageLayout from "../layout/PageLayout.astro";
---

<PageLayout title="memory palace">
  <h1 class="font-black md:text-3xl text-2xl mb-2 dark:text-zinc-300">
    An abstract representation of ideas collectively termed as 'Raaj'.
    <p>Developer in disguise atleast I used to be</p>
  </h1>
  <br />
  <p>
    I am {new Date().getFullYear() - 2003 + 1} y/o quote-unquote Software Developer.
    I am interested in things like <b
      >how to center my div, how to fix mom's printer and how to make my web
      server go <em>ZOOM ZOOM FAST</em>.
    </b>
    I live on the Edge (pun intended).
  </p>

  <br />
  <p>
    I am currently in my last year at Nirma University pursuing my Bechlor's
    degree in Computer Science Engineering. Apart from code and study, in my
    free time I enjoy wasting my time, listening to music & podcasts,
    ocasionally reading books and writing about them and lastly scrolling my <a
      href="https://twitter.com/imrraaj"
      class="border-b-2 border-zinc-800">Twitter</a
    >.
  </p>
  <br />
  <img src="/potrait.jpg" alt="Innovations" title="Innovation">
  <br />

</PageLayout>
