---
import PageLayout from "../layout/PageLayout.astro";
---

<PageLayout title="Home">
  <h1
    class="font-black md:text-3xl text-2xl mb-2 text-white font-primary leading-normal"
  >
    <span class="bg-accent text-white px-1">
      An abstract representation of ideas collectively
    </span>
    <br />
    <span class="bg-accent text-white px-1"> termed as 'Raj'. </span>
    <br />
    <span class="bg-accent text-white px-1"> Developer in disguise </span>
  </h1>
  <br />
  <p>
    I am {new Date().getFullYear() - 2003 + 1} y/o quote-unquote Software Developer.
    I am interested in things like <b
      >how to center my div, how to fix mom's printer and how to make my web
      server go <em>ZOOM ZOOM FAST</em>.
    </b>
    I live on the Edge (pun intended).
  </p>

  <br />
  <p>
    I completed my Bechelor's degree at Nirma University in Computer Science
    Engineering. Apart from code and study, in my free time I enjoy wasting my
    time, listening to music & podcasts, ocasionally reading books and writing
    about them and lastly scrolling my <a
      href="https://x.com/imrraaj"
      class="border-b-2 border-accent text-accent hover:border-0 transition-colors duration-200"
      >Twitter</a
    >.
  </p>
  <br />
  <div class="relative group w-full h-auto">
    <img
      src="/potrait.jpg"
      alt="e/acc"
      title="e/acc"
      class="relative rounded-lg w-full h-auto"
    />
  </div>
  <br />
</PageLayout>
