---
import PageLayout from "../layout/PageLayout.astro";
---

<PageLayout>
  <main>
    <div class="my-4">
      <h2 class="text-4xl text-primary">What I am upto?</h2>
      <span class="text-sm">Last Updated on: 08/11/2022</span>
    </div>
    <p>
      I am currently doing my assignment ¯\_(ツ)_/¯ . I like to explore new
      ideas of philosophy and lately I love listening to podcasts.
    </p>
  </main>
</PageLayout>
