---
import { RssIcon } from "lucide-react";
---

<hr />
<footer class="text-center py-4 text-sm flex justify-between">
  <p class="flex flex-col items-start text-xs text-stone-500 font-semibold">
    <span> Do not go gentle in the good night, 
    </span>
    <span>
    Rage rage against the dying of the light
    </span>
  </p>
  <a
    href="/rss.xml"
    class="inline-flex gap-2 text-sm justify-center items-center"
  >
    <RssIcon width={18} height={18} />
    RSS
  </a>
</footer>
