---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, "");
---

<a
  href={href}
  class={`inline-flex justify-between items-center text-gray-400 hover:text-gray-900 dark:text-zinc-300 dark:hover:text-zinc-500 ${
    isActive && "underline"
  }`}
  {...props}
>
  <slot />
</a>
