---
import HeaderLink from "./HeaderLink.astro";
import {NAVIGATION, SOCIALS} from "../config.ts";

---

<header class="my-8">
  <a href="/">
    <div class="flex gap-4 my-2 items-center">
      <img
        class="w-[60px] aspect-square rounded-full"
        src="/header.jpg"
        alt="An image from Raj's twitter profile"
      />
      <h2 class="font-black text-2xl text-zinc-300 font-primary">Raj Patel</h2>
    </div>
  </a>
  <nav class="my-4 flex items-center justify-between">
    <div class="flex gap-4">
      {
          NAVIGATION.map(el => <HeaderLink href={el.link}>{el.text}</HeaderLink>)
      }
    </div>
    <div class="flex gap-4">
      {
      SOCIALS.map(el => {
return <HeaderLink href={el.link} target="_blank" title={el.link}>
        {<el.element />}
      </HeaderLink>
        })
    }
    </div>
  </nav>
</header>
