---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

let isActive = false;
if (href === "/") {
  isActive = Astro.url.pathname === "/";
} else {
  isActive = Astro.url.pathname.includes(String(href).replace(/\/$/, ""));
}

const classes = `inline-flex justify-between items-center text-text-secondary font-primary font-semibold ${className || ""}`;
---

<a href={href} data-focused={isActive} class={classes} {...props}>
  <slot />
</a>
