---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, "");
---

<a
  href={href}
  class="inline-flex justify-between items-center gap-2 px-1 mr-1 text-orange-400 hover:bg-orange-400 hover:text-white"
  {...props}
>
  <slot />
</a>
