---
import HeaderLink from "./HeaderLink.astro";
import { Mail, Github, TwitterIcon } from "lucide-react";
---

<header class="my-8">
  <a href="/">
    <div class="flex gap-4 my-2 items-center">
      <img
        class="w-[60px] aspect-square rounded-full"
        src="/header.jpg"
        alt="An image from Raj's twitter profile"
      />
      <h2 class="font-black text-2xl dark:text-zinc-300">Raj Patel</h2>
    </div>
  </a>
  <nav class="my-4 flex items-center justify-between">
    <div class="flex gap-4">
      <HeaderLink href="/">home</HeaderLink>
      <HeaderLink href="/books">books</HeaderLink>
      <HeaderLink href="/blog">blogs</HeaderLink>
      <HeaderLink href="/misc">misc</HeaderLink>
    </div>
    <div class="flex gap-4">
      <HeaderLink href="mailto:rajpatel10953@gmail.com" target="_blank" title={"rajpatel10953@gmail.com"}>
        <Mail />
      </HeaderLink>

      <HeaderLink href="https://github.com/imrraaj" target="_blank" title={"@imrraaj"}>
        <Github />
      </HeaderLink>
      <HeaderLink href="https://x.com/imrraaj" target="_blank" title={"@imrraaj"}>
        <TwitterIcon />
      </HeaderLink>
    </div>
  </nav>
</header>
