---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
import { Mail, Github, TwitterIcon } from "lucide-react";
---

<header class="my-8">
  <a href="/">
    <div class="flex gap-4 my-2 items-center">
      <img
        class="w-[60px] aspect-square rounded-full"
        src="https://pbs.twimg.com/profile_images/1645135556127649792/TG-AySRb_400x400.jpg"
        alt="An image from Raj's twitter profile"
      />
      <h2 class="font-black text-2xl">Raj's Blog</h2>
    </div>
  </a>
  <nav class="my-4 flex items-center justify-between">
    <div class="flex gap-4">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/books">Books</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
    <div class="flex gap-4">
      <HeaderLink href="mailto:rajpatel10953@gmail.com" target="_blank">
        <Mail />
      </HeaderLink>

      <HeaderLink href="https://github.com/imrraaj" target="_blank">
        <Github />
      </HeaderLink>
      <HeaderLink href="https://x.com/imrraaj" target="_blank">
        <TwitterIcon />
      </HeaderLink>
    </div>
  </nav>
</header>
