---
import PageLayout from "../../layout/PageLayout.astro"

const getUTCdate = (date: string) => {
  const [day, month, year] = date.split("-").map(Number);
  const inputDateUTC = new Date(Date.UTC(year, month - 1, day));
  return inputDateUTC;
};

const astro_posts = await Astro.glob("./*md");
const unsorted_posts = astro_posts.filter((o) => o.frontmatter.published);
const posts = unsorted_posts.sort((a, b) => {
  const da = getUTCdate(a.frontmatter.date);
  const db = getUTCdate(b.frontmatter.date);
  return db.getTime() - da.getTime();
});
---

<PageLayout title="Misc.">
  <section>
    <div class="mb-8">
      <h1 class="text-4xl font-black text-text-primary font-primary mb-3">Miscellaneous</h1>
      <p class="text-lg text-text-muted">Random thoughts, poems, and quotes I find interesting</p>
    </div>

    <ul class="list-disc list-inside space-y-1">
      {
        posts.map((post) => {
          return (
            <li class="text-xl font-semibold text-text-secondary group-hover:text-primary-500 transition-colors">
                <a 
                  href={post.url}
                  class="hover:underline underline-offset-4"
                >
                {post.frontmatter.title}
              </a>
              </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout>
