---
import PageLayout from "./PageLayout.astro";
const { frontmatter } = Astro.props;
---

<PageLayout title={frontmatter.title} descripton={frontmatter.description}>
    <article>
        <header class="my-4">
            <h1 class="text-3xl font-black leading-relaxed">
                {frontmatter.title}
            </h1>
            <p class="text-sm text-secondary font-heading">
                Published On: {frontmatter.pubDate}
            </p>
        </header>
        <div
            class="post-body prose max-w-[85ch] prose-blockquote:text-white text-white prose-headings:text-accent prose-headings:font-black prose-strong:text-white prose-strong:font-bold text-justify space-y-8 prose-img:rounded-xl prose-img:mx-auto"
        >
            <slot />
        </div>
    </article>
    <a href="/blog" class="text-primary hover:underline my-4 block">
        ← Back to home
    </a>
</PageLayout>
