---
import PageLayout from "./PageLayout.astro";
const { frontmatter } = Astro.props;

const getUTCdate = (date) => {
  const [day, month, year] = date.split("-").map(Number);
  const inputDateUTC = new Date(Date.UTC(year, month - 1, day));
  return inputDateUTC;
};
const getISTdateString = (date) => {
  const inputDateUTC = getUTCdate(date);
  const istDateString = inputDateUTC.toLocaleDateString("en-US", {
    timeZone: "Asia/Kolkata",
    year: "numeric",
    month: "long",
    day: "2-digit",
  });
  return istDateString;
};

const pubslisedOn = getISTdateString(frontmatter.date);
---

<PageLayout title={frontmatter.title} descripton={frontmatter.description}>
  <article>
    <header class="my-4">
      <h1 class="md:text-4xl text-2xl font-black leading-relaxed dark:text-zinc-300">
        {frontmatter.title}
      </h1>
      <p class="text-sm mt-2 text-zinc-500 dark:text-zinc-300">
        Published On: {pubslisedOn}
      </p>
    </header>
    <div
      class="prose prose-headings:font-black prose-strong:font-bold text-justify prose-img:rounded-xl prose-img:mx-auto my-8 dark:text-zinc-300"
    >
      <slot />
    </div>
  </article>
</PageLayout>
