---
import PageLayout from "./PageLayout.astro";
const { frontmatter } = Astro.props;
---

<PageLayout title={frontmatter.title} descripton={frontmatter.description}>
  <article>
    <header class="my-4">
      <h1 class="md:text-3xl text-2xl font-black leading-relaxed">
        {frontmatter.title}
      </h1>
      <p class="text-sm">
        Published On: {frontmatter.date}
      </p>
    </header>
    <div
      class="prose prose-headings:font-black prose-strong:font-bold text-justify prose-img:rounded-xl prose-img:mx-auto"
    >
      <slot />
    </div>
  </article>
  <a
    href="/blog"
    class="inline-block m-6 mx-auto bg-zinc-800 text-zinc-50 px-4 py-2 rounded"
  >
    ← Back to home</a
  >
</PageLayout>
